.background {
	background-image: url("../images/78.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	color: white;
}

@-webkit-keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
	-webkit-text-fill-color: white !important;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: arial;
}

ul li {
	float: right;
	width: 180px;
	height: 50px;
	background: rgba(0, 0, 0, .6);
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}

ul li .active {
	background-color: #387DF5;
	color: white;
}

ul li .active:hover {
	background-color: #387DF5;
	color: white;
}

ul li a {
	text-decoration: none;
	display: block;
	opacity: 0.8;
	color: #f2f2f2;
	padding: 0px 16px;
	font-size: 17px;
	border: none;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

ul li a:hover {
	background-color: #39b54a;
	text-decoration: none;
	color: white;
}

#childButton {
	text-decoration: none;
	display: block;
	opacity: 0.8;
	color: #f2f2f2;
	width: 180px;
	font-size: 17px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	background: transparent;
	border: none !important;
	white-space: nowrap;
}

#childButton:hover {
	background-color: #39b54a;
	text-decoration: none;
	color: white;
}

ul li button {
	text-decoration: none;
	display: block;
	opacity: 0.8;
	color: #f2f2f2;
	width: 180px;
	font-size: 17px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	background: transparent;
	border: none !important;
	white-space: nowrap;
}

ul li button:hover {
	background-color: #39b54a;
	text-decoration: none;
	color: white;
}

ul li ul li {
	display: none;
}

ul li:hover ul li {
	display: block;
}

.box {
	position: absolute;
	top: 50%;
	Left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 30px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

.linkBar .hrefButton a {
	text-decoration: none;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 20px;
	font-size: 21px;
	background-color: #39b54a;
	border-radius: 4px;
	border: none;
}

.linkBar .hrefButton a:hover {
	background-color: #39b53a;
	color: #f2f2f2;
	border-radius: 5px;
}

.box #loginButton {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 21px;
	background: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
}

.box #loginButton:hover {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 21px;
	background: #03a1f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
}

.flex {
	display: flex;
}

#linkBarLoginButton {
	text-decoration: none;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 11px 20px;
	font-size: 21px;
	background-color: rgba(0, 0, 0, .4);
	border-radius: 4px;
	border: none;
}

#linkBarLoginButton:hover {
	background-color: #ddd;
	color: black;
	border-radius: 5px;
}

.linkBar a {
	text-decoration: none;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 20px;
	font-size: 21px;
	background-color: rgba(0, 0, 0, .4);
	border-radius: 4px;
	border: none;
}

.linkBar a:hover {
	background-color: #ddd;
	color: black;
	border-radius: 5px;
}

.linkBar a.active {
	border: 1px solid #fff;
}

.box .inputBox {
	position: relative;
}

.box .inputBox input {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.box .inputBox label {
	position: absolute;
	top: 0;
	Left: 0;
	padding: 5px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	pointer-events: none;
	transaction: 0.5s;
}

.box  .inputLogin .inputBox input:focus ~ label, .box .inputLogin .inputBox input:not([value=""]) ~ label {
	top: -20px;
	Left: 0;
	color: #03a9f4;
	font-size: 12px;
}

/* -------------------- input:not([value=""]) ~ label -------------------- NO SPACES!!! */
.box .inputBox input:not([value=""]) ~ label {
	top: -20px;
	Left: 0;
	color: #E70101;
	font-size: 12px;
}

.box .inputBox input:focus ~ label {
	top: -20px;
	Left: 0;
	color: #E70101;
	font-size: 12px;
}

.box .inputBox input:valid ~ label {
	top: -20px;
	Left: 0;
	color: #03a9f4;
	font-size: 12px;
}

.box button {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 30px;
	cursor: pointer;
	border-radius: 5px;
}

.box form a {
	border: none;
	border-bottom: 1px solid #03a9f4;
	color: #03a9f4;
	text-decoration: none;
	text-align: right;
	float: right;
}

#error {
	color: #e70000;
	padding: 5px 0px;
}

#result {
	color: #03a9f4;
	padding: 5px 0px;
}

#success {
	color: #39b54a;
	color: #08760c;
	padding: 5px 0px;
}

#default {
	color: black;
	padding: 5px 0px;
}

#notfound {
	position: relative;
	height: 100vh;
}

#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.notfound {
	max-width: 410px;
	width: 100%;
	text-align: center;
}

.notfound .notfound-img {
	height: 280px;
	position: relative;
	z-index: -1;
}

.notfound .notfound-img h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 230px;
	margin: 0px;
	font-weight: 900;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: url('../images/bg.jpg') no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: cover;
	background-position: center;
}

.notfound h2 {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
}

.notfound p {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 0px;
}

.notfound a {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	background: #0046d5;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 40px;
	color: #fff;
	font-weight: 700;
	-webkit-box-shadow: 0px 4px 15px -5px #0046d5;
	box-shadow: 0px 4px 15px -5px #0046d5;
}

.ratesBox {
	position: absolute;
	top: 50%;
	Left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.ratesBox tr:nth-child(even) {
	background-color: #ddd;
	color: black;
}

.ratesBox th {
	background-color: #AD0734;
	color: white;
	height: 50px;
	text-align:center;	
}

.ratesBox td {
	width: 25%;
	text-align:center; 
	font-size: 110%;	
}	

.ratesBox table {
	opacity: 0.8;
	width: 100%;
}

.ratesBox button {
  float: right;	
  background-color: #387DF5;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  margin-top:-40px;

  margin-left:70%; 
  position: relative;
  font-size: 16px;
  font-weight: bold;
}	

.ratesBox button:hover {
  background-color: #1956D2;
  opacity: 0.9;
}	

.userDataBox {
	position: absolute;
	top: 50%;
	Left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	padding: 10px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	border-radius: 4px;
}

.userDataBox h3 {
	text-align: center;
}

.userDataBox h4 {
	padding: 10px 30px;
}

.userDataBox button {
	float: right;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 10px 30px;
	font-size: 15px;
	background-color: #39b52a; 
	border-radius: 4px;
	border: none;
}

.userDataBox button:hover {
	background-color: #ddd;
	color: black;
	border-radius: 5px;
}

.userDataBox input{
	background: transparent;
	border: none !important;
	color: white;
	background-color:transparent; 
}

#chooseRequest {
	float: left;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 10px 30px;
	font-size: 15px;
	background: rgba(0, 0, 0, .1);
	color: white;
	border-radius: 4px;
	border: none;
}

#chooseRequest:hover {
	background-color: #ddd;
	color: black;
	border-radius: 5px;
}

#footer div {
	padding: 2px;
	background: #39b54a;
	opacity: 0.9;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	color: #fff;
	width: 100%;
}

/*Open form for password */

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height:580px;  
  background-color: white;	
  color:black;
  opacity: 0.9;
  font-size: 18px;
}

.form-popup .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;
  
}

.form-popup .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 2px solid red;
  border-radius: 4px;
  background: #f1f1f1;
  color:red;
}

.form-popup .form-container input:valid {
  color:green;
  border: 2px solid green;
}

.form-popup .form-container #oldPassword:valid{
  color:black;
  border: 2px solid black;	
}

.form-popup .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  position: fixed;	
  bottom: 70px;
  left: 10px; 
  width: 455px;  
}

.form-popup .form-container .cancel {
  background-color: #448AFF;
  position: fixed;	
  bottom: 0px;
  left: 10px; 
  width: 455px;  
}

.form-popup .form-container .btn:hover {
  opacity: 1;
}
/*Open form for password end */


/*Requests box*/
.requestsBox {
	position: relative;	
	top: 200px;	
	Left: 20%;	
	margin-bottom: 100px;	
	width: 1200px;
	background: rgba(0, 0, 0, .6);	
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.requestsBox tr:nth-child(even) {
	background-color: #ddd;
	color: black;
}

.requestsBox tr:nth-child(odd) {
	background-color: #fff;
	color: black;
}

.requestsBox th {
	background: #39b54a;
	color: white;
	height: 50px;
	text-align:center;
}

.requestsBox td {
   text-align:center; 	
}	

.requestsBox table {
	opacity: 0.8;
	width: 100%;
}

.requestsBox h4{
	padding: 16px 20px;
	font-size: 35px;
}

.requestsBox button {
  float: right;	
  background-color: #387DF5;;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-top:-40px;
  margin-bottom:20px;
  margin-left:70%; 
  position: relative;
  font-size: 16px;
  font-weight: bold;
}	

.requestsBox h4 button:hover {
  background-color: #1956D2;
  opacity: 0.9;
}	
/*Requests box end */

/*Creating Requests box*/

.userCreateRequestBox {
	position: absolute;
	top: 50%;
	Left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding: 10px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	border-radius: 4px;
}

.userCreateRequestBox h3 {
	text-align: center;
}

.userCreateRequestBox button{
	float: left;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 10px 30px;
	font-size: 18px;
	background: rgba(0, 0, 0, .1);
	color: white;
	border-radius: 4px;
	border: none;
}

.userCreateRequestBox button:hover {
	background-color: #ddd;
	color: black;
	border-radius: 5px;
}

/*Creating Requests box END */


/*Open form for NewAccount Request */

.newAccountRequestForm {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height:480px;  
  background-color: white;
  color:black;
  opacity:0.9;  
}

.newAccountRequestForm .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;  
}

.newAccountRequestForm .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  position: fixed;	
  bottom: 70px;
  left: 10px; 
  width: 445px;
}

.newAccountRequestForm .form-container .cancel {
  background-color: #448AFF;
  position: fixed;	
  bottom: 0px;
  left: 10px; 
  width: 445px;  
}

.newAccountRequestForm .form-container .btn:hover {
  opacity: 1;
}
/*Open form for NewAccount Request  END*/


/*Open form for newCardExistingAccount Request */
.newCardExistingAccountRequestForm {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height:490px;  
  background-color: white;
  color:black;
  opacity: 0.9;
}

.newCardExistingAccountRequestForm .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;  
}

.newCardExistingAccountRequestForm .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  position: fixed;	
  bottom: 70px;
  left: 10px; 
  width: 445px;  
}

.newCardExistingAccountRequestForm .form-container .cancel {
  background-color: #448AFF;
  position: fixed;	
  bottom: 0px;
  left: 10px; 
  width: 445px;  
}

.newCardExistingAccountRequestForm .form-container .btn:hover {
  opacity: 1;
}
/*Open form for newCardExistingAccount Request END*/

/*Open form for newCard Request */
.newCardRequestForm {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height:460px;  
  background-color: white;
  color:black;
  opacity: 0.9; 
}

.newCardRequestForm .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;  
}

.newCardRequestForm .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  position: fixed;	
  bottom: 70px;
  left: 10px; 
  width: 445px;  
}

.newCardRequestForm .form-container .cancel {
  background-color: #448AFF;
  position: fixed;	
  bottom: 0px;
  left: 10px; 
  width: 445px;  
}

.newCardRequestForm .form-container .btn:hover {
  opacity: 1;
}
/*Open form for newCard Request END*/


.newCardRequestForm select, .newCardExistingAccountRequestForm select, .unlockCardRequestForm select { 
  font-size: 120%;
}

/*Open form for unlock Card Request */
.unlockCardRequestForm {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height:280px;  
  background-color: white;
  color:black;
  opacity: 0.9; 
}

.unlockCardRequestForm .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;  
}

.unlockCardRequestForm .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  position: fixed;	
  bottom: 70px;
  left: 10px; 
  width: 445px;  
}

.unlockCardRequestForm .form-container .cancel {
  background-color: #448AFF;
  position: fixed;	
  bottom: 0px;
  left: 10px; 
  width: 445px;  
}

.unlockCardRequestForm .form-container .btn:hover {
  opacity: 1;
}

/*Open form for unlock Card Request END*/

/* Custom radio button START*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/* Custom radio button END */


/*User bank account box*/

.userBankAccountBox {
	position: absolute;
	top: 50%;
	Left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height:400px;
	padding: 10px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	border-radius: 4px;
}

.userBankAccountBox h3 {
	text-align: center;
}

.userBankAccountBox button{
	float: left;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 10px 30px;
	font-size: 18px;
	background: rgba(0, 0, 0, .1);
	color: white;
	border-radius: 4px;
	border: none;
}

.userBankAccountBox button:hover {
	background-color: #ddd;
	color: black;
	border-radius: 5px;
}

/*User bank account box END */

/*Users box */
.usersBox {
	position: relative;	
	top: 200px;	
	Left: 20%;	
	margin-bottom: 100px;	
	width: 1200px;
	background: rgba(0, 0, 0, .6);	
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.usersBox form {
	display:inline;
}	

.usersBox h2{
	padding: 5px 300px;
	font-size: 36px;
	text-align:center;
}

.usersBox h4{
	padding: 16px 20px;
	font-size: 26px;
	text-align:center;
}

.usersBox #blockButton {
  background-color: #387DF5;
  color: white;
}	

.usersBox #unblockButton {
  background-color: #389DF5;
  color: white;
}	

.usersBox button {
  background-color: #387DF5;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;  
  padding: 8px 20px;
  border-radius: 4px;  
}	

.usersBox button:hover {
  background-color: #1956D2;
  opacity: 0.9;
}	

.usersBox input[type=text] {
  height:45px;
  opacity: 0.8;
}	

.usersBox input[type=text]:focus {
  background-color: lightblue;
}

.usersBox th {
	background-color: lightblue;
	color: black;
	height: 50px;
	font-size: 26px;
	text-align:center;
}

.usersBox td {
   text-align:center; 	
}	

.usersBox tr:nth-child(even) {
	background-color: #ddd;
	color: black;
}

.usersBox tr:nth-child(odd) {
	background-color: #fff;
	color: black;
}

.usersBox table {
	opacity: 0.8;
	width: 100%;
}

.usersBox table button {
  width: 160px;
}	
/*Users box end*/


/*Admin requests box */

.adminRequetsBox {
	position: relative;	
	top: 150px;	
	Left: 10%;	
	margin-bottom: 100px;	
	width: 1500px;
	background: rgba(0, 0, 0, .6);	
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.adminRequetsBox form {
	display:inline;
}	

.adminRequetsBox h2{
	position: relative;	
	Left: 6%;	
	padding: 5px 300px;
	font-size: 36px;
	text-align:center;
}

.adminRequetsBox h4{
	padding: 16px 20px;
	font-size: 26px;
	text-align:center;
}

.adminRequetsBox button {
  background-color: #387DF5;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;  
  padding: 8px 20px;
  border-radius: 4px;
}	

.adminRequetsBox button:hover {
  background-color: #1956D2;
  opacity: 0.9;
}	

.adminRequetsBox input[type=text] {
	height:45px;
	opacity: 0.8;
}	

.adminRequetsBox input[type=text]:focus {
  background-color: lightblue;
}

.adminRequetsBox th {
	background-color: lightblue;
	color: black;
	height: 50px;
	font-size: 26px;
	text-align:center;
}

.adminRequetsBox td {
   text-align:center; 	
   height:40px;
}	

.adminRequetsBox tr:nth-child(even) {
	background-color: #ddd;
	color: black;
}

.adminRequetsBox tr:nth-child(odd) {
	background-color: #fff;
	color: black;
}

.adminRequetsBox table {
	opacity: 0.8;
	width: 100%;
}

.adminRequetsBox table button {
  width: 160px;
}	

.adminRequetsBox table #handleButton {
	background-color:  #39b54a;
}	

.adminRequetsBox .checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.adminRequetsBox .checkbox + label {
	position: relative;
	padding: 0 0 0 70px;
	cursor: pointer;
}
.adminRequetsBox .checkbox + label:before {
	content: '';
	position: absolute;
	left: 0;
    top: 4px;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.adminRequetsBox .checkbox + label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.adminRequetsBox .checkbox:checked + label:before {	
	background: #39b54a;
}
.adminRequetsBox .checkbox:checked + label:after {
	left: 26px;
}
.adminRequetsBox .checkbox:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}

/*Admin requests box end*/


/*Admin bank accounts box */
.adminBankAccountsBox {
	position: relative;	
	top: 150px;	
	Left: 10%;	
	margin-bottom: 100px;	
	width: 1500px;
	background: rgba(0, 0, 0, .6);	
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.adminBankAccountsBox form {
	display:inline;
}	

.adminBankAccountsBox h2{
	position: relative;	
	Left: 6%;	
	padding: 5px 300px;
	font-size: 36px;
	text-align:center;
}

.adminBankAccountsBox h4{
	padding: 16px 20px;
	font-size: 26px;
	text-align:center;
}

.adminBankAccountsBox button {
  background-color: #387DF5;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;  
  padding: 8px 20px;
  border-radius: 4px;
}	

.adminBankAccountsBox button:hover {
  background-color: #1956D2;
  opacity: 0.9;
}	

.adminBankAccountsBox #blockButton {
  background-color: #387DF5;
  color: white;
}	

.adminBankAccountsBox #unblockButton {
  background-color: #389DF5;
  color: white;
}	

.adminBankAccountsBox input[type=text] {
	height:45px;
	opacity: 0.8;
}	

.adminBankAccountsBox input[type=text]:focus {
  background-color: lightblue;
}

.adminBankAccountsBox th {
	background-color: lightblue;
	color: black;
	height: 50px;
	font-size: 26px;
	text-align:center;
}

.adminBankAccountsBox td {
   text-align:center; 	
   height:40px;
}	

.adminBankAccountsBox tr:nth-child(even) {
	background-color: #ddd;
	color: black;
}

.adminBankAccountsBox tr:nth-child(odd) {
	background-color: #fff;
	color: black;
}

.adminBankAccountsBox table {
	opacity: 0.8;
	width: 100%;
}

.adminBankAccountsBox table button {
  width: 160px;
}	

.adminBankAccountsBox table #handleButton {
	background-color:  #39b54a;
}	

/*Admin admin Bank Accounts Box end*/

/*Transaction Box box */
.transactionsBox {
	position: relative;	
	top: 170px;	
	Left: 17%;	
	margin-bottom: 100px;	
	width: 1200px;
	background: rgba(0, 0, 0, .6);	
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.transactionsBox h4{
	position: relative;	
	Left: 12%;	
	padding: 16px 20px;
	font-size: 26px;
	text-align:center;
}

.transactionsBox th {
	background-color: lightblue;
	color: black;
	height: 50px;
	font-size: 26px;
	text-align:center;
}

.transactionsBox td {
   text-align:center; 	
   height:40px;
}	

.transactionsBox tr:nth-child(even) {
	background-color: #ddd;
	color: black;
}

.transactionsBox tr:nth-child(odd) {
	background-color: #fff;
	color: black;
}

.transactionsBox table {
	opacity: 0.8;
	width: 100%;
}

/*Transaction Box end*/

/*Admin cards box */
.adminCardsBox {
	position: relative;	
	top: 150px;	
	Left: 8%;	
	margin-bottom: 100px;	
	width: 1600px;
	background: rgba(0, 0, 0, .6);	
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.adminCardsBox form {
	display:inline;
}	

.adminCardsBox h2{
	position: relative;	
	Left: 9%;	
	padding: 5px 200px;
	font-size: 36px;
	text-align:center;
}

.adminCardsBox h4{
	padding: 16px 20px;
	font-size: 26px;
	text-align:center;
}

.adminCardsBox button {
  background-color: #387DF5;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;  
  padding: 8px 20px;
  border-radius: 4px;
}	

.adminCardsBox button:hover {
  background-color: #1956D2;
  opacity: 0.9;
}	

.adminCardsBox #blockButton {
  background-color: #387DF5;
  color: white;
}	

.adminCardsBox #unblockButton {
  background-color: #389DF5;
  color: white;
}	

.adminCardsBox input[type=text] {
	height:45px;
	opacity: 0.8;
}	

.adminCardsBox input[type=text]:focus {
  background-color: lightblue;
}

.adminCardsBox th {
	background-color: lightblue;
	color: black;
	height: 50px;
	font-size: 26px;
	text-align:center;
}

.adminCardsBox td {
   text-align:center; 	
   height:40px;
}	

.adminCardsBox tr:nth-child(even) {
	background-color: #ddd;
	color: black;
}

.adminCardsBox tr:nth-child(odd) {
	background-color: #fff;
	color: black;
}

.adminCardsBox table {
	opacity: 0.8;
	width: 100%;
}

.adminCardsBox table button {
  width: 160px;
}	

.adminCardsBox table #handleButton {
	background-color:  #39b54a;
}	
/*Admin admin Cards Box end*/


/*User bank accounts box */
.userBankAccountsBox {
	position: relative;	
	top: 200px;	
	Left: 19%;	
	margin-bottom: 100px;	
	width: 1100px;
	background: rgba(0, 0, 0, .6);	
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.userBankAccountsBox form {
	display:inline;
}	

.userBankAccountsBox h2{
	position: relative;	
	Left: 3%;	
	padding: 5px 300px;
	font-size: 36px;
	text-align:center;
}

.userBankAccountsBox button {
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;  
  padding: 8px 20px;
  border-radius: 4px;
  width: 160px;
  background-color:  #39b54a; 
}	

.userBankAccountsBox button:hover {
  opacity: 0.9;
}	

.userBankAccountsBox th {
	background-color: lightblue;
	color: black;
	height: 50px;
	font-size: 26px;
	text-align:center;
}

.userBankAccountsBox td {
   text-align:center; 	
   height:40px;
}	

.userBankAccountsBox tr:nth-child(even) {
	background-color: #ddd;
	color: black;
}

.userBankAccountsBox tr:nth-child(odd) {
	background-color: #fff;
	color: black;
}

.userBankAccountsBox table {
	opacity: 0.8;
	width: 100%;
}
/*User Bank Accounts Box end*/







/*User cards box */

.userCardsBox {
	position: relative;	
	top: 200px;	
	Left: 19%;	
	margin-bottom: 100px;	
	width: 1100px;
	background: rgba(0, 0, 0, .6);	
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.userCardsBox form {
	display:inline;
}	

.userCardsBox h2{
	position: relative;	
	Left: 3%;	
	padding: 5px 300px;
	font-size: 36px;
	text-align:center;
}

.userCardsBox h4{
	padding: 16px 20px;
	font-size: 26px;
	text-align:center;
}

.userCardsBox button {
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;  
  padding: 8px 20px;
  border-radius: 4px;
  width: 160px;
  background-color:  #39b54a; 
}	

.userCardsBox button:hover {
  opacity: 0.9;
}	

.userCardsBox button:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: black;
  font-weight: normal;
}

.userCardsBox button:disabled:hover, button[disabled]:hover{
  opacity: 1;
}

.userCardsBox th {
	background-color: lightblue;
	color: black;
	height: 50px;
	font-size: 26px;
	text-align:center;
}

.userCardsBox td {
   text-align:center; 	
   height:40px;
}	

.userCardsBox tr:nth-child(even) {
	background-color: #ddd;
	color: black;
}

.userCardsBox tr:nth-child(odd) {
	background-color: #fff;
	color: black;
}

.userCardsBox table {
	opacity: 0.8;
	width: 100%;
}
/*User Cards Box end*/

/*Open form for card operations */

.cardOperationsForm {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height:550px;  
  background-color: white;
  color:black;
  opacity:0.9;
}

.cardOperationsForm .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;  
}

.cardOperationsForm .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
}

.cardOperationsForm .form-container .btn:hover {
  opacity: 1;
}

.cardOperationsForm .centerText{
	text-align: center;	
}	

#cardNumberMask{
	background: transparent;
	border: none !important;
	color: black;
	background-color:transparent; 
}

#cardNumberMask:focus {
    outline: none;
}


/*Open form for card operations  END*/


/*Open form for card info*/
.cardInfoForm {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height:550px;  
  background-color: white;
  color:black;
  opacity:0.9;
}

.cardInfoForm .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;  
}

.cardInfoForm .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  position: fixed;	
  bottom: 0px;
  left: 10px; 
  width: 445px;  
}

.cardInfoForm .form-container .btn:hover {
  opacity: 1;
}

.cardInfoForm h4 {
  margin-left:10px;
}

.cardInfoForm .centerText{
	text-align: center;	
}	

.cardInfoForm input{
	background: transparent;
	border: none !important;
	color: black;
	background-color:transparent; 
	text-align:center;
}

.cardInfoForm input:focus {
    outline: none;
}
/*Open form for card info END*/

/*Open form for deposit card */
.cardDepositForm {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height:630px;  
  background-color: white;
  color:black;
  opacity:0.9;
}

.cardDepositForm .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;  
}

.cardDepositForm .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  position: fixed;	
  bottom: 70px;
  left: 10px; 
  width: 445px;  
}

.cardDepositForm .form-container .cancel {
  background-color: #448AFF;
  bottom: 0px; 
}

.cardDepositForm .form-container .btn:hover {
  opacity: 1;
}

.cardDepositForm h4 {
  margin-left:10px;
}

.cardDepositForm .centerText{
	text-align: center;	
}	

.cardDepositForm #cardNumberMaskDeposit {
	background: transparent;
	border: none !important;
	color: black;
	background-color:transparent; 
	text-align:center;
}

.cardDepositForm #cardNumberMaskDeposit:focus {
    outline: none;
}

.cardDepositForm #inputCheckForm{
  width: 40%;
  padding: 3px;
  margin: 5px 0 22px 0;
  border: 2px solid red;
  border-radius: 4px;
  background: #f1f1f1;
  color:red;
}	

.form-container #inputCheckForm:valid {
	color:green;
	border: 2px solid green;
}

.form-container #inputCheckForm:focus {
  outline: none;
}

.cardDepositForm select, .cardWriteOffForm select, .cardTransferForm select {
  font-size: 105%;
}

.form-container textarea{
   resize: none;
}
/*Open form for deposit card	 END*/

/*Open form for card	write off  */
.cardWriteOffForm {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height:630px;  
  background-color: white;
  color:black;
  opacity:0.9;
}

.cardWriteOffForm .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;  
}

.cardWriteOffForm .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  position: fixed;	
  bottom: 70px;
  left: 10px; 
  width: 445px;  
}

.cardWriteOffForm .form-container .cancel {
  background-color: #448AFF;
  bottom: 0px; 
}

.cardWriteOffForm .form-container .btn:hover {
  opacity: 1;
}

.cardWriteOffForm h4 {
  margin-left:10px;
}

.cardWriteOffForm .centerText{
	text-align: center;	
}	

.cardWriteOffForm #cardNumberMaskWriteOff {
	background: transparent;
	border: none !important;
	color: black;
	background-color:transparent; 
	text-align:center;
}

.cardWriteOffForm #cardNumberMaskWriteOff:focus {
    outline: none;
}

.cardWriteOffForm #inputCheckForm{
  width: 40%;
  padding: 3px;
  margin: 5px 0 22px 0;
  border: 2px solid red;
  border-radius: 4px;
  background: #f1f1f1;
  color:red;
}	

/*Open form for card	write off END*/


/*Open  form for card transfer  */
.cardTransferForm {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;  
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height:710px;  
  background-color: white;
  color:black;
  opacity:0.9;
}

.cardTransferForm .form-container {  
  max-width: 470px;
  padding: 10px;
  background-color: white;  
}

.cardTransferForm .form-container .btn {
  background-color: #1976D2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
  position: fixed;	
  bottom: 70px;
  left: 10px; 
  width: 445px;  
}

.cardTransferForm .form-container .cancel {
  background-color: #448AFF;
  bottom: 0px; 
}

.cardTransferForm .form-container .btn:hover {
  opacity: 1;
}

.cardTransferForm h4 {
  margin-left:10px;
}

.cardTransferForm .centerText{
	text-align: center;	
}	

.cardTransferForm #cardNumberMaskTransfer {
	background: transparent;
	border: none !important;
	color: black;
	background-color:transparent; 
	text-align:center;
}

.cardTransferForm #cardNumberMaskTransfer:focus {
    outline: none;
}

.cardTransferForm #inputCheckForm{
  width: 40%;
  padding: 3px;
  margin: 5px 0 22px 0;
  border: 2px solid red;
  border-radius: 4px;
  background: #f1f1f1;
  color:red;
}	

.cardTransferForm #receiverCardNumber{
  width: 52%;
  padding: 3px;
  margin: 5px 0 22px 0;
   border: 2px solid red;
  color:red;
}	

.cardTransferForm #receiverCardNumber:focus {
    outline: none;
}	

.form-container #receiverCardNumber:valid {
 color:green;
 border: 2px solid green;
}

/*Open form for card	transfer END*/




