<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>PaymentSystem</display-name>
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<url-pattern>/jsp/user/*</url-pattern>
		<url-pattern>/jsp/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CommandFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserSessionUpdaterFilter</filter-name>
		<url-pattern>/jsp/user/*</url-pattern>
		<url-pattern>/jsp/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserSessionFilter</filter-name>
		<url-pattern>/jsp/user/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminSessionFilter</filter-name>
		<url-pattern>/jsp/admin/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>customtags</taglib-uri>
			<taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
		</taglib>
	</jsp-config>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/error/error500.jsp</location>
	</error-page>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>PaymentSystem</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<!--Specify NONE to indicate that the server must accept the constrained 
				requests on any connection, including an unprotected one. -->
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>